body {
    background-color: #ffffff;
    color: #000000;
}

#logo {
    background-image: linear-gradient(transparent, transparent 38%, #85aa6c 38%, #85aa6c 43%, transparent 43%,
    transparent 48%, #85aa6c 48%, #85aa6c 53%, transparent 53%, transparent);
    margin-bottom: 1em;
}

#logo h1 {
    background-color: #ffffff;
    margin: auto;
    text-align: center;
    width: 350px;
}

.hide {
    display: none;
}

.center-text {
    display: block;
    text-align: center;
}

p {
    margin-top: 0;
}

button {
    background: #ffffff linear-gradient(#ffffff, #ffffff 60%, #ebdfeb);
    border: 1px solid #c0a0c0;
    border-radius: 4px;
    height: 1.5rem;
}

input[type=radio] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    border-radius: 50%;
    width: 16px;
    height: 16px;

    border: 1px solid #c0a0c0;
    transition: all 90ms linear;
    margin-right: 5px;

    position: relative;
    top: 4px;
}

input[type=radio]:checked {
    background: #c0a0c0;
}

canvas {
    margin: 0 auto;
    display: block;
}

footer {
    margin: 2rem 0;
    text-align: center;
    font-size: 75%;
}

#app {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-gap: 10px;
    max-width: 1600px;
}

.column {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0.4em;
}

#controls {
    margin: 0 auto auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
}

.control {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 0.3em;
    margin: auto 0;
    width: 100%;
}

.color-item, .tool-item {
    white-space: nowrap;
}

.color-item.selected .pcr-button {
    border: 3px double #c0a0c0;
}

.border-row {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: auto 0;
    align-items: center;
}

.palette-row {
    display: grid;
    grid-template-columns: 5fr 1fr 1fr;
    margin: auto 0;
}

button.palette-select {
    width: 1.5rem;
    height: 1.5rem;
    border: 1px solid rgba(50%, 50%, 50%, 0.2);
    background: transparent;
    transition: all 50ms linear;
}

.sash-grid {
    display: grid;
    grid-template-columns: 16px 6em auto;
    grid-gap: 0.2em 0.4em;
    align-items: center;
}

#tools button {
    border-color: #dcdcdc;
}

#tools li {
    margin-bottom: 1em;
}

#tools button.active {
    color: #ffffff;
    background-color: #6690cf;
    border-color: #627178;
}

#editorArea {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto auto;
}

#transforms {
    display: grid;
    grid-template-rows: 1fr 3fr;
    grid-template-columns: 1fr 1fr;
    margin: 1em auto auto;
}

.transform-title {
    grid-row: 1 / 2;
    text-align: center;
}

.transform {
    grid-row: 2 / 3;
}

#rollers {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto auto;
}

#rollers button {
    width: 1.5rem;
    height: 1.5rem;
    padding: 0;
}

#roll-left {
    /* row-start / col-start / row-end / col-end */
    grid-area: 2 / 1 / 3 / 2;
}

#roll-right {
    grid-area: 2 / 3 / 3 / 4;
}

#roll-up {
    grid-area: 1 / 2 / 2 / 3;
}

#roll-down {
    grid-area: 3 / 2 / 4 / 3;
}


#editor {
    cursor: pointer;
}


div.pickr {
    display: inline-block;
    width: 2.0em;
}
