body {
    background-color: #ffffff;
    color: #000000;
}

.hide {
    display: none;
}

.center-text {
    display: block;
    text-align: center;
}

#app > .clear {
    clear: both;
}

button {
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 3px;
}

footer {
    margin: 2rem 0;
    text-align: center;
    font-size: 75%;
}

#controls {
    margin: auto auto 1em;
    padding: 0.6em;
    display: flex;
    flex-wrap: wrap;
}

#controls > .control {
    margin-right: 1.0em;
}

#controls #colors {
    order: -2;
}

#controls .color-new {
    order: -1;
}

#controls .tool-item {
    order: 9;
}

#colors {
    max-width: 375px;
}

#tools button {
    border-color: #dcdcdc;
}

#tools li {
    margin-bottom: 1em;
}

#tools button.active {
    color: #ffffff;
    background-color: #6690cf;
    border-color: #627178;
}

#rollers {
    position: relative;
    box-sizing: border-box;
    width: 4.5em;
    height: 4.5em;
}

#rollers button {
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    padding: 0;
}

#roll-left {
    top: 1.5rem;
    left: 0;
}

#roll-right {
    top: 1.5rem;
    left: 3rem;
}

#roll-up {
    left: 1.5rem;
    top: 0;
}

#roll-down {
    left: 1.5rem;
    top: 3rem;
}

#view {
    width: 990px;
    height: 576px;
    margin: 10px 0;
    position: relative;
}

#editor {
    cursor: pointer;
}

.panel {
    position: absolute;
    width: 480px;
    height: 480px;
    padding: 10px;
}

.panel-left {
    top: 0;
    left: 0;
}

.panel-right {
    top: 0;
    right: 0;
}

div.pickr {
    display: inline-block;
    width: 2.0em;
}
